<% provide(:title, "Log in") %>
<h1>Librarian Login Page</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
        <p align="center">
      <%= link_to "Login", '../book_requests',  class: "btn btn-md btn-info" %>
      </p>
      </br>
  </div>
</div>
    

    